
<nav class="navbar navbar-default navbar-static-top oo-header" id="oo-page-header" role="navigation">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-12 oo-center-content">

                <div class="navbar-header oo-nav">

                    <a class="navbar-brand oo-brand" href="#">CAMPHOP</a>

                    <button class="navbar-toggle" data-toggle="collapse" data-target="#oo-the-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="oo-the-nav">
                    <ul class="nav navbar-nav navbar-right" id="oo-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">About</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</nav>