<div class="container oo-gallery">

    <div class="row">
        
        <% trips.forEach( function( tripObj ) { %>
            
            <%- include( '../partials/thumb', { tripObj: tripObj }); %>

        <% }); %>

    </div>
    
</div>