<div class="container oo-gallery">

    <div class="row">
        
            <div class="red">
                    hello 
                </div>

        <% trips.forEach( function( tripObj ) { %>
            
            <%- include( '../partials/thumb', { tripObj: tripObj }); %>

        <% }); %>

    </div>

</div>