<a href="/trip/<%= tripObj.tripNumber %>">

    <div class="oo-num-block">
        <p>
            <%= tripObj.tripNumber %>
        </p>
    </div>

    <div class="oo-pic-block" style="background-image: url( 'images/cover_pic_<%= tripObj.tripNumber %>.jpg' );">
        <p>
            <%= tripObj.campgroundName %>
        </p>
    </div>
</a>