<div class="col-xs-12 oo-col-sm-6 oo-thumb">

    <a href="/trip/<%= tripObj.trip_nuber %>" class="thumbnail">
        
        <div class="oo-thumb-wrapper">

            <div class="trip-num-block">
                <p>
                    <%= tripObj.trip_nuber %>
                </p>
            </div>

            <div class="trip-pic-block" style="background-image: url( 'images/cover_pic_<%= tripObj.trip_nuber %>.jpg' );">
                <p>
                    <%= tripObj.campground_name %>
                </p>
            </div>

        </div>

    </a>

</div>