/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

body {
    /* background-color: blue; */
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

/* Navigation : -------------------- */



/* /Navigation : -------------------- */



/*
END : Header 
============================================================
============================================================
START : Content 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

.oo-spot .oo-full-logo {
    background-size: 52vh;
    height: 35vh;
    max-height: 35vh;
}

.oo-spot .oo-decoration {
    /* height: 26vh; */
}

.oo-spot .oo-msg {
    /* padding: 30px 18% 50px; */
    /* padding: 5vh 15vw 6vh; */
    /* font-size: 3em; */
    font-size: 4vh;
}

.oo-gallery {
    width: 1000px;
}

.oo-gallery .row > a {
    flex: 0 1 33%;
}

.oo-gallery .row > a .oo-pic-block {
    height: 33vh;
}

/* Trip Page : -------------------- */

.oo-hero {
    height: 40vw;
    max-height: 40vw;
}

.oo-hero-header .oo-hero-trip-num {
    height: 10vw;
}

.oo-hero-header .oo-hero-title {
    height: 10vw;
}

.oo-hero-header .oo-hero-trip-num p {
    font-size: 2.5vw;
}

.oo-hero-header .oo-hero-title p {
    letter-spacing: -.3vw;
    font-size: 6vw;
}

.oo-info > div {

    padding: 2vw 3vw;
    font-size: 1.8vw;
    line-height: 3.5vw;
}

.oo-info > div:nth-child( odd ) {
    /* flex-basis: 25%; */
}

.oo-info > div:nth-child( even ) {
    /* flex-basis: 75%; */
}

/*
END : Content 
============================================================
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */



/*
END : Footer 
============================================================
*/