/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

body {
    background-color: blue;
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

/* Navigation : -------------------- */

.navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

/* /Navigation : -------------------- */



/*
END : Header 
============================================================
*/
/*
============================================================
START : Content 
*/

/* Overwrites : -------------------- */

.thumbnail {
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100%;
}

/* /Overwrites : -------------------- */

.oo-header .oo-center-content {
    float: none;
    margin: 0px auto;
    width: 992px;
}

.oo-content-wrapper {
    float: none;
    margin: 0px auto;
    width: 992px;
}

/*
END : Content 
============================================================
*/
/*
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */



/*
END : Footer 
============================================================
*/