/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

body {
    /* background-color: blue; */
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

/* Navigation : -------------------- */

.navbar > .container-fluid .navbar-brand {
    /* margin-left: 0px; */
}

/* /Navigation : -------------------- */



/*
END : Header 
============================================================
============================================================
START : Content 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

.oo-spot .oo-full-logo {
    background-size: 60vw;
    height: 45vh;
}

.oo-spot .oo-decoration {
    height: 26vh;
}

.oo-spot .oo-msg {
    padding: 30px 18% 50px;
    font-size: 2.1875em;
    line-height: 1.375em;
}

.oo-gallery {
    width: 1000px;
}

.oo-gallery .row > a {
    flex: 0 1 33%;
}

.oo-gallery .row > a .oo-pic-block {
    height: 33vh;
}



.oo-header .oo-center-content {
    /* float: none;
    margin: 0px auto;
    width: 992px; */
}

.oo-content-wrapper {
    /* float: none;
    margin: 0px auto;
    width: 992px; */
}

/*
END : Content 
============================================================
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */



/*
END : Footer 
============================================================
*/