/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

body {
    /* background-color: green; */
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */

.navbar {
    min-height: 70px;
}

/* /Overwrites : -------------------- */

/* Navigation : -------------------- */

.navbar > .container-fluid .navbar-brand {
    margin-left: 25px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

a.oo-brand:visited,
a.oo-brand:hover,
a.oo-brand {
    max-height: 70px;
    height: 70px;
}

#oo-the-nav {
    background-color: transparent;
    float: right;
    padding-right: 15px;
}

.navbar-fixed-bottom .navbar-collapse, 
.navbar-fixed-top .navbar-collapse, 
.navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

/* LIs */
#oo-nav {
    /* margin-top: 5px; */
    min-height: 70px;
}

.navbar-nav > li {
    border: 0px;
    border-left: 1px solid #dedcd3;
    
    /* background-image: url( ../images/icon_nav_fire.svg );
    background-repeat: no-repeat;
    background-position: 35px center;
    background-size: 10%; */
}

.navbar-default .navbar-nav > li > a {
    color: #db0000;
    min-height: 70px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a {
    padding: 25px 40px;
    font-size: 1em;
    color: #db0000;
}

.navbar-nav > li > a {
    /* padding-top: 11px; */
    /* padding-bottom: 11px; */
}

/* /Navigation : -------------------- */

.oo-header .oo-center-content {
    /* margin-top: 9px; */
}

a.oo-brand {
    /* margin-top: 6px; */
}

/*
END : Header 
============================================================
============================================================
START : Content 
*/

/* Overwrites : -------------------- */


/* /Overwrites : -------------------- */

.oo-spot {
    width: auto;
}

.oo-spot .oo-full-logo {
    /* background-size: 69vw;
    height: 45vw;
    max-height: 45vw; */
    
    /* background-size: 45vmax;
    height: 30vmax; */
}

.oo-spot .oo-msg {
    /* font-size: 2em; */
    /* font-size: 2.375em; */
    /* line-height: 1.20em; */
    /* font-size: 4vh; */
}

.oo-spot .oo-decoration {
    /* height: 25vw; */
}

.oo-spot .oo-msg {
    /* padding: 35px 20% 45px; */
    /* padding: 7vh 15vw 8vh; */
    /* padding: 5vh 15vw 6vh; */
}

.oo-gallery {
    padding: 0px;
}

.oo-gallery .row > a .oo-pic-block {
    height: 25vh;
}

.oo-gallery .row > a .oo-num-block p,
.oo-gallery .row > a .oo-pic-block p {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1em;
}

/* Trip Page : -------------------- */

.oo-hero {
    /* height: 45vw; */
    height: 35vh;
}


.oo-hero-header .oo-hero-trip-num {
    /* height: 12vw; */
}

.oo-hero-header .oo-hero-title {
    /* height: 12vw; */
}

.oo-hero-header .oo-hero-trip-num p {
    /* font-size: 3.5vw; */
}

.oo-hero-header .oo-hero-title p {
    /* letter-spacing: -.4vw;
    font-size: 8vw; */
}

.oo-info > div {
    /* padding: 2vw 3vw;
    font-size: 2vw;
    line-height: 3.5vw; */
}

.oo-info .oo-site-number {
    /* width: 4vw;
    height: 4vw;
    line-height: 4vw; */
}

.oo-trip-desc {
    /* padding: 4vw; */
    /* font-size: 2vw; */
    /* line-height: 3.5vw; */
}

.oo-info > div:nth-child( odd ) {
    flex-basis: 30%;
}

.oo-info > div:nth-child( even ) {
    flex-basis: 70%;
}

/*
END : Content 
============================================================
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

footer .oo-right-block {
    font-size: 1em;
}

/*
END : Footer 
============================================================
*/