/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

body {
    background-color: green;
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

/* Navigation : -------------------- */

.navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

#oo-the-nav {
    background-color: transparent;
    float: right;
    padding-right: 15px;
}

.navbar-fixed-bottom .navbar-collapse, 
.navbar-fixed-top .navbar-collapse, 
.navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

/* LIs */
#oo-nav {
    margin-top: 5px;
}

.navbar-nav > li {
    border: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > li > a {
    font-size: 1em;
}

.navbar-nav > li > a {
    padding-left: 7px;
}

.navbar-nav > li > a {
    padding-top: 11px;
    padding-bottom: 11px;
}

/* /Navigation : -------------------- */

/* Logo */
a.oo-brand:visited, a.oo-brand:hover, a.oo-brand {
    background-position: 15px 11px;
}

a.oo-brand:visited, a.oo-brand:hover, a.oo-brand {
    color: #f00;
    background: url( ../images/logo.svg );
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 0 5px;
    padding-left: 300px;
    padding-right: 0px;
    width: 93px;
    height: 114px;
    overflow: hidden;
}

/*
END : Header 
============================================================
============================================================
START : Content 
*/

/* Overwrites : -------------------- */

.thumbnail {
    min-height: 275px;

    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 120%;
}

.thumbnail .caption {
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}

.thumbnail .caption h3 {
    margin: 0px;
    font-size: 2em;
    font-weight: bold;
}

.thumbnail .caption p {
    font-size: 1em;
}

/* /Overwrites : -------------------- */

/* Layout */
.oo-header .oo-center-content {
    height: 130px;
    padding-top: 8px;
}

.oo-center-content {
    padding-left: 15px;
    padding-right: 15px;
}

.oo-trip-number {
    padding: 10px;
    width: 35px;
    height: 35px;
}
.oo-trip-number h5 {
    font-size: 1.375em;
    line-height: .5em;
}

.oo-thumbs .col-xs-4 {
    padding-right: 4px;
    padding-left: 4px;
    min-height: 330px;
}

/*
END : Content 
============================================================
*/
/*
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */



/*
END : Footer 
============================================================
*/