/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

body {
    /* background-color: green; */
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

/* Navigation : -------------------- */

.navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

#oo-the-nav {
    background-color: transparent;
    float: right;
    padding-right: 15px;
}

.navbar-fixed-bottom .navbar-collapse, 
.navbar-fixed-top .navbar-collapse, 
.navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

/* LIs */
#oo-nav {
    margin-top: 5px;
}

.navbar-nav > li {
    border: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > li > a {
    font-size: 1em;
}

.navbar-nav > li > a {
    padding-left: 7px;
}

.navbar-nav > li > a {
    padding-top: 11px;
    padding-bottom: 11px;
}

/* /Navigation : -------------------- */

/* Logo */


/*
END : Header 
============================================================
============================================================
START : Content 
*/

/* Overwrites : -------------------- */


/* /Overwrites : -------------------- */

.oo-spot {
    width: auto;
}

.oo-spot .oo-full-logo {
    height: 225px;
}

.oo-spot .oo-decoration {
    height: 155px;
}

.oo-spot .oo-msg {
    padding: 35px 20% 45px;
}

.oo-gallery {
    padding: 0px;
}

.oo-gallery .row > a .oo-pic-block {
    height: 25vh;
}

.oo-gallery .row > a .oo-num-block p,
.oo-gallery .row > a .oo-pic-block p {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

/*
END : Content 
============================================================
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */



/*
END : Footer 
============================================================
*/