/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

body {
    /* background-color: orange; */
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

/* Navigation : -------------------- */



/* /Navigation : -------------------- */



/*
END : Header 
============================================================
============================================================
START : Content 
*/

/* Overwrites : -------------------- */

.oo-col-sm-6 {
    position: relative;
    min-height: 1px;
    /* padding-right: 15px;
    padding-left: 15px; */
    /* width: 49.3%; */
    width: 50%;
    float: left;
}

/* /Overwrites : -------------------- */

.oo-spot .oo-full-logo {
    background-size: 50%;
}

.oo-spot .oo-msg {
    padding: 30px 10%;
    font-size: 1.813em;
    line-height: 1.375em;
}

.trip-num-block {
    margin-right: 0px;
}

.oo-thumb:nth-child( odd ) {
    margin-right: 1.3%;
}

/*
END : Content 
============================================================
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */



/*
END : Footer 
============================================================
*/