/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

body {
    /* background-color: orange; */
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

/* Navigation : -------------------- */



/* /Navigation : -------------------- */



/*
END : Header 
============================================================
============================================================
START : Content 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

.oo-spot .oo-full-logo {
    /* background-size: 37vw;
    height: 20vw;
    max-height: 20vw; */

    /* background-size: 45vmax;
    height: 30vmax; */
}

.oo-spot .oo-msg {
    /* padding: 30px 18% 50px; */
    /* padding: 7vh 15vw 8vh; */
    /* font-size: 5vh; */
}

.oo-spot .oo-decoration {
    /* height: 16vw; */
}

.oo-spot .oo-full-logo .oo-leaves-left {
    background-position: -7vmax top;
}

.oo-spot .oo-full-logo .oo-leaves-right {
    background-position: 12vmax top;
}

.oo-gallery .row > a {
    flex: 0 1 49%;
}

.oo-gallery .row > a .oo-num-block {
    margin-right: 0px;
}

.oo-gallery .row > a .oo-pic-block {
    height: 50vh;
    max-height: 30vh;
}

.oo-gallery .row > a .oo-num-block p,
.oo-gallery .row > a .oo-pic-block p {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 3.5vh;
}

/* Trip Page : -------------------- */

.oo-hero {
    /* height: 30vw; */
    /* max-height: 30vw; */
}

.oo-hero-header .oo-hero-trip-num {
    /* height: 10vh; */

    /* height: 10vw; */
    flex-basis: 15%;
}

.oo-hero-header .oo-hero-title {
    /* height: 10vh; */

    
    /* height: 10vw; */
    flex-basis: 85%;
}

.oo-hero-header .oo-hero-trip-num p {
    /* font-size: 3vw; */
}

.oo-hero-header .oo-hero-title p {
    /* letter-spacing: -.3vw; */
    /* font-size: 6vw; */
}

.oo-info > div {
    /* padding: 1.5vw 3vw;
    font-size: 2.5vw;
    line-height: 4vw; */
}

.oo-info .oo-site-number {
    /* width: 5vw;
    height: 5vw;
    line-height: 5vw; */
}

.oo-trip-desc {
    /* padding: 4vw; */
    /* font-size: 2.5vw; */
    /* line-height: 4vw; */
}

.oo-info > div:nth-child( odd ) {
    /* flex-basis: 35%; */
}

.oo-info > div:nth-child( even ) {
    /* flex-basis: 65%; */
}

/*
END : Content 
============================================================
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

footer .oo-right-block {
    font-size: 3.5vh;
}

/*
END : Footer 
============================================================
*/