/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

body {
    background-color: orange;
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

/* Navigation : -------------------- */



/* /Navigation : -------------------- */



/*
END : Header 
============================================================
============================================================
START : Content 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

.oo-spot .oo-full-logo {
    background-size: 50%;
}

/*
END : Content 
============================================================
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */



/*
END : Footer 
============================================================
*/