/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

body {
    /* background-color: red; */
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

/* Navigation : -------------------- */



/* /Navigation : -------------------- */



/*
END : Header 
============================================================
============================================================
START : Content 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

.oo-spot .oo-full-logo {
    background-size: 65vh;
    height: 42vh;
    max-height: 42vh;
}

.oo-spot .oo-msg {
    /* font-size: 2em; */
}

/* Trip Page : -------------------- */

.oo-hero {
    height: 55vh;
    max-height: 55vh;
}

/*
END : Content 
============================================================
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */



/*
END : Footer 
============================================================
*/