/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

body {
    /* background-color: red; */
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

/* Navigation : -------------------- */



/* /Navigation : -------------------- */



/*
END : Header 
============================================================
============================================================
START : Content 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

.oo-spot .oo-full-logo {
    background-size: 65vh;
    height: 42vh;
    max-height: 42vh;
}

.oo-spot .oo-msg {
    font-size: 5vh;
}

/* Trip Page : -------------------- */

.oo-hero {
    /* height: 55vh; */
    /* max-height: 55vh; */
    height: 30vw;
    max-height: 30vw;
}

.oo-hero-header .oo-hero-trip-num {
    height: 7vw;
}

.oo-hero-header .oo-hero-title {
    height: 7vw;
}

.oo-hero-header .oo-hero-trip-num p {
    font-size: 1.5vw;
}

.oo-hero-header .oo-hero-title p {
    letter-spacing: -.2vw;
    font-size: 4.5vw;
}

.oo-info > div {
    padding: 2vh 3vh;
    font-size: 2vh;
    /* line-height: 4vh; */

    padding: 1vw 3vw;
    font-size: 1.2vw;
    line-height: 2.2vw;
}

.oo-info .oo-site-number {
    width: 2vw;
    height: 2vw;
    line-height: 2vw;
}

.oo-trip-desc {
    padding: 2vw 8vw;
    font-size: 1.2vw;
    line-height: 2.2vw;
}

/*
END : Content 
============================================================
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */



/*
END : Footer 
============================================================
*/