/*
============================================================
START : General Rules 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

html, body {
    font-size: 16px;
}

body {
    background-color: white;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -1px;
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 2.750em;
}

h2 {
    font-size: 2.688em;
}

h3 {
    font-size: 2.625em;
}

h4 {
    font-size: 2.563em;
}

h5 {
    font-size: 2.5em;
}

h6 {
    font-size: 2.4375em;
}

/*
END : General Rules 
============================================================
============================================================
START : Header 
*/

/* Overwrites : -------------------- */

.navbar {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 1em;
}

.navbar-nav {
    margin: 0px;
}

.navbar-nav > li {
    border: 0px;
}

.navbar-nav > :last-child {
    border-bottom: 0px;
}

.navbar-nav > li > a {
    padding-left: 75px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    font-size: 1.125em;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border: 0px;
}

.navbar-toggle {
    border-radius: 0px;
    border: 0px;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    background: #fff;
    margin: 0px;
    padding: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
}

.navbar-default .navbar-toggle span {
    display: block;
    width: 24px;
    height: 4px;
    margin-left: 16px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #dcdad4;
}

/* /Overwrites : -------------------- */

/* Navigation : -------------------- */

#oo-the-nav {
    background-color: #ffcc00;
    opacity: 0.9;
    filter: alpha( opacity=90 ); /* For IE8 and earlier */
}

#oo-nav a.on {
    color: red;
}

/* /Navigation : -------------------- */

.oo-header {
    border: 0px;
    /* background-color: #e8e8e8; */
    min-width: 320px;
}

a.oo-brand:visited,
a.oo-brand:hover,
a.oo-brand {
    color: #f00;
    background: url( '../images/logo_icon.svg' );
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 0 0px;
    padding-left: 113px;
    padding-right: 0px;
    width: 90px;
    height: 40px;
    overflow: hidden;
    margin-left: 15px;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.oo-header .oo-center-content {
    background-color: #f8f8f8;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

/*
END : Header 
============================================================
============================================================
START : Content 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

.oo-spot {
    background-color: #eae9e4;
}

.oo-spot .oo-full-logo {
    text-align: center;
    padding: 30px;
    height: 30vh;

    background: url( ../images/logo.svg );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 275px;
    background-size: 48vh;
}

.oo-spot .oo-decoration {
    height: 20vh;
    background-color: #f5df72;
    background: url( ../images/decoration-trees.jpg ) center center no-repeat;
    background-size: cover;
    position: relative;
}

.oo-spot .oo-msg {
    background-color: #b6b3a8;
    text-align: center;
    padding: 30px 10% 40px;
    color: #fff;
    font-weight: bold;
    font-size: 1.3125em;
    line-height: 1.25em;
}

.oo-gallery {
    margin-top: 20px;
}

.oo-gallery .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.oo-gallery .row:after,
.oo-gallery .row:before {
    content: initial;
}

.oo-gallery .row > a {
    flex: 0 1 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
}

.oo-gallery .row > a:active,
.oo-gallery .row > a:visited,
.oo-gallery .row > a:hover,
.oo-gallery .row > a:focus {
    text-decoration: none;
    color: #000;
}

.oo-gallery .row > a .oo-num-block {
    flex: 1 1 20%;
    background-color: #c0bdb5;
    margin-right: 5px;
}

.oo-gallery .row > a .oo-num-block p {
    padding: 0px;
    margin: 0px;
    background-color: #fed230;
    text-align: center;
    color: #000;
}

.oo-gallery .row > a .oo-pic-block {
    flex: 1 1 80%;
    background-color: #c0bdb5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

    height: 30vh;
}

.oo-gallery .row > a .oo-pic-block p {
    background-color: rgba( 0, 0, 0, .5 );
    padding: 0px 15px;
    color: #fff;
    
}

.oo-gallery .row > a .oo-num-block p,
.oo-gallery .row > a .oo-pic-block p {
    padding: 1.5vh 0px;
    line-height: 1.25em;
    font-size: 0.875em;
}

.oo-gallery .row > a .oo-pic-block p {
    padding-left: 15px;
}

/* Trip Page : -------------------- */

.oo-hero {
    width: 100%;
    height: 30vh;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.oo-hero-header {
    display: flex;
}

.oo-hero-header .oo-hero-title,
.oo-hero-header .oo-hero-trip-num {
    align-self: auto;
    padding: 1.5vh 0px;
    line-height: 1.25em;
    font-size: 0.875em;
}

.oo-hero-header .oo-hero-trip-num {
    padding: 0px;
    margin: 0px;
    background-color: #fed230;
    text-align: center;
    color: #000;
}

.oo-hero h1 {
    color: #fff;
    font-size: 9.5vh;
    letter-spacing: -0.5vh;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: 1vh;
    text-shadow: 1px 1px rgba( 0, 0, 0, 0.5 );
}

#oo-map {
    width: 100%;
    height: 40vh;
}


/* /Trip Page : -------------------- */

/*
END : Content 
============================================================
============================================================
START : Footer 
*/

/* Overwrites : -------------------- */



/* /Overwrites : -------------------- */

footer {
    min-height: 150px;
    
    display: flex;

    background: url( ../images/footer_trees.svg );
    background-color: #e8e8e8;
    background-size: 300px;
    background-position: center center;
}

footer .oo-left-block,
footer .oo-right-block {
    align-self: auto;
}

footer .oo-left-block {
    align-self: auto;
}

footer .oo-right-block {
    align-self: center;
    padding-left: 15px;
    font-size: 0.875em;
}

footer .oo-left-block {
    width: 60px;
    
    background: url( ../images/logo_icon.svg );
    background-color: #c0bdb5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

/*
END : Footer 
============================================================
*/