<!doctype html>
<html lang="en">
    <head>

        <% include ../partials/head %>

    </head>
    <body>

        <main class="">
            
            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->

            <!-- <div class="container oo-spot">
                <div class="row">
                    <div class="col-xs-12 oo-full-logo">
                            <div class="oo-leaves-left"></div>
                            <div class="oo-leaves-right"></div>
                    </div>
                    
                </div>
            </div> -->

            <div class="oo-hero-about" style="background-image: url( '../images/jumbo_me.jpg' );">
                <div class="oo-hero-logo-night"></div>
            </div>

            <p class="oo-about-copy">
                This site is a summary of my weekend camping trips and it's also part of a three site project, each identical in design, structure, and styles but different in front-end technologies and architecture.  One site is built using EJS, another in Reactjs, and last in Angularjs.  Following are the technologies and skills I used for this particular site.
            </p>
            <ul class="oo-about-copy" style="list-style: none">
                <li>EJS</li>
                <li>Photography</li>
                <li>Design/branding (link to docs)</li>
                <li>Wireframing (link to docs)</li>
                <li>CSS Flex</li>
                <li>Responsive CSS</li>
                <li>Google Maps API</li>
                <li>jQuery</li>
                <li>Git/GitHub (link to gitHub)</li>
                <li>Nodejs</li>
                <li>npm</li>
                <li>Expressjs</li>
                <li>PostgreSQL</li>
                <li>Heroku Hosting</li>
            </ul>

        </main>

        <!-- START : footer -->
        <% include ../partials/footer %>
        <!-- END : footer -->

    </body>
</html>