<!doctype html>
<html lang="en">
    <head>

        <% include ../partials/head %>

    </head>
    <body>

        <main class="">
            
            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->

            ABOUT blah blah blah blah blah blah blah blah 

        </main>

        <!-- START : footer -->
        <% include ../partials/footer %>
        <!-- END : footer -->

    </body>
</html>