<!doctype html>
<html lang="en">
    <head>

        <% include ../partials/head %>
        
    </head>
    <body>

        <main class="">

            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->

            <div class="container oo-spot">
                <div class="row">
                    <div class="col-xs-12 oo-full-logo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 oo-decoration">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 oo-msg">
                        CampHop is my collection of weekend trips into the outdoors, enjoy!
                    </div>
                </div>
            </div>

            <!-- START : content -->
            <% include ../partials/list_of_thumbs %>
            <!-- END : content -->

            <!-- START : footer -->
            <% include ../partials/footer %>
            <!-- END : footer -->

        </main>

    </body>
</html>