<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <main class="">

            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->

            <!-- START : content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 oo-content-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Camping Trips</h1>
                                
                                <%= test[1] %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- END : content -->

        </main>

    </body>
</html>