<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <main class="">

            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->

            <!-- START : content -->
            
            <!-- END : content -->
<br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 oo-content-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container-fluid oo-thumbs">
                                     <div class="row">

                                        <% trips.forEach( function( trip ) { %>
                                        <div class="col-xs-4">
                                            <div class="thumbnail" id="oo-thumb-1xxx" style="
                                                background-image: url( 'images/cover_pic_<%= trip.tripNumber %>.jpg' );
                                                background-repeat: no-repeat;
                                                background-size: 110%;
                                                background-position: 0px -30px;";>
                                                <div class="oo-trip-number"><h5><%= trip.tripNumber %></h5></div>
                                                <div class="caption">
                                                    <h3><%= trip.campgroundName %></h3>
                                                    <p><%= trip.arrivalDate %></p>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- START : footer -->
            <% include ../partials/footer %>
            <!-- END : footer -->

        </main>

    </body>
</html>