<!doctype html>
<html lang="en">
    <head>

        <% include ../partials/head %>
        
    </head>
    <body>

        <main class="">

            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->

            <!-- START : content -->
            <% include ../partials/list_of_thumbs %>
            <!-- END : content -->

            <!-- START : footer -->
            <% include ../partials/footer %>
            <!-- END : footer -->

        </main>

    </body>
</html>