<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <main class="red">

            <header class="blue">
                <% include ../partials/header %>
            </header>

            <div class="container-fluid ">
                    <h1>hello</h1>
                    
                    <%= test[1] %>
            </div>
            

        </main>

    </body>
</html>