<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <header>
        <% include ../partials/header %>
        </header>

        <main>
            <h1>hello</h1>
            <%= test[1] %>
        </main>

    </body>
</html>