<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <main class="">

            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->

            <!-- START : content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 oo-content-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <h1>Camping Trips</h1> -->
                                <br>

                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="col-sm-4">
                                            <div class="thumbnail">
                                                <img src="..." alt="...">
                                                <div class="caption">
                                                    Photo 1
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="thumbnail">
                                                <img src="..." alt="...">
                                                <div class="caption">
                                                        Photo 2
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="thumbnail">
                                                <img src="..." alt="...">
                                                <div class="caption">
                                                        Photo 3
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="thumbnail">
                                                <img src="..." alt="...">
                                                <div class="caption">
                                                        Photo 4
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="thumbnail">
                                                <img src="..." alt="...">
                                                <div class="caption">
                                                        Photo 5
                                                    <p>...</p>
                                                </div>
                                            </div>
                                        </div>
                                            
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- END : content -->

        </main>

    </body>
</html>