<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <main class="">

            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->

            <!-- START : content -->
            <div class="container-fluid ">
                    <h1>hello</h1>
                    
                    <%= test[1] %>
            </div>
            <!-- END : content -->

        </main>

    </body>
</html>