<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <main class="">

            <%- JSON.stringify( theTrip.arrivalDate ) %>

        </main>

    </body>
</html>