<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <main class="">
            <%= tripId %>
            <br>
            <%- theTrip %>

        </main>

    </body>
</html>