<!doctype html>
<html lang="en">
    <head>

        <% include ../partials/head %>

    </head>
    <body>

        <main class="">
            
            <!-- START : header -->
            <% include ../partials/header %>
            <!-- END : header -->
            
            

            </div>

            <%= tripId %>

            <%= 'hello ' + theTrip[0].arrivalDate %>

        </main>

    </body>
</html>