<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <main class="">

            <% theTrip.forEach( function( i ) { %>
                hello this is a trip
                <%= i %>
            <% }); %>

        </main>

    </body>
</html>